.col-s-1 {
    width: 100%;
    margin: auto;
}

body {
    /* background-color: fuchsia; */
    font-family: sans-serif;
}

@media screen and (min-width: 1024px) {
  .col-s-1 {width: 50%;
            margin: auto;
  }
  /*
  body {
    background-color: yellow;
  }*/
}

@media screen and (min-width: 400px) and (max-width: 1023px) {
  /* Tablet or mobile phone */
  .col-s-1 {width: 90%;
            margin: auto;
  }
  /*
  body {
    background-color: green;
  }*/
}

p
{
    font-size: 0.9rem;
}

span
{
    padding: 12px 15px;
}

.invalid
{
    color: red;
}
.valid
{
    color: green;
}

.hidden {
    opacity: 0;
}

.hideInMoment {
    opacity: 1;
    /*visibility: visible;*/

    animation: fadeIn 3s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    vertical-align: middle;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.app-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #009879;
  border: 1px solid transparent;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100px;
  white-space: nowrap !important;
}

.app-button:hover,
.app-button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.app-button:hover {
  transform: translateY(-1px);
}

.app-button:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.delete-button:hover,
.delete-button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.delete-button:hover {
  transform: translateY(-1px);
}

.delete-button:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*Time input error*/
.timeError {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.timeError.active {
  padding: 0.3rem;
}

.input-hidden {
  /* For Hiding Radio Button Circles */
  position: absolute;
  left: -9999px;
}

td {
  text-align: center;
}

.settingsForm {
  display: grid;
}

input[type="radio"]:checked + label  > img {
  border: 1px solid rgb(157, 255, 0);
  box-shadow: 0 0 2px 2px #009879;
  border-radius: 0.5rem;
}

input[type="radio"] + label > img {
  border: 1px rgb(0, 0, 0);
  padding: 0px;

  transition: 500ms all;
}

/*
input[type=radio]: {
  opacity: 1;
  filter: invert(19%) sepia(59%) saturate(6431%) hue-rotate(355deg) brightness(93%) contrast(120%)
}
*/
